/* search page */

.search-books-bar {
  width: 300px;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.19);
}

.search-books-bar input {
  width: 100%;
  border: none;
  outline: none;
}

#delete-icon {
  transform: scale(1.5);
}
#delete-icon:hover {
  cursor: pointer;
  color: #777;
  transition: 100ms linear;
}
